extends layout.pug

block content
  h1 LOOK MOM!
  form(action='/entries/new')
    input(type='submit' class='post' value='Write New Post')
  .entries
    each entry in entries
      include entry.pug