block content
  h1 Create a New Entry
  form(action='/entries' method='post')
    label Title:
    input(name='title' type='text')
    label Picture:
    input(name='image_url' type='text')
    label What happen?:
    input(name='content' type='textarea')
    input(type='submit' value='Post')
